* {/* Reset */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
    padding: 0;  
    margin: 0;
}
:root {
    /*defino la variable*/
   --violeta-primario: #4608ad; 
   --texto-secundario: #B4A2E0;
   --bg-oscuro:#121212;
    
}

/* fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

  

/* Estilos header */
.header{
    /* background-color: rgba(255, 166, 0, 0.414); */
    background-color: transparent;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    font-size: 1em;/*2em => 2 * 16px = 32px;*/
    color: white;
    position: absolute;
}

.headerlogo{
    height: 10vh;
    width: 30vw;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.headermenu {
    height: 10vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-top: 2vh ; */
    padding-right: 1vw;
}

.headermenu a {
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    color: white;
}


.main{
    background-image: linear-gradient(to right top, #0000008a, #0000008a), url(../imgs/bg-main.jpg);
    height: 100vh; /*vh altura relativa*/
    width: 100vw; /*vw ancho relativo*/
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.mainpreguntas{
  background-image: linear-gradient(to right top, #0000008a, #0000008a), url(../imgs/bg-main.jpg);
  height: 40vh; /*vh altura relativa*/
  width: 100vw; /*vw ancho relativo*/
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.mainpregunta1{
  background-color:#0000008a;
 /*  height: 100vh; 
  width: 100vw; /*vw ancho relativo*/
  background-size: contain;
  background-position: center;
  color: white;
}

.h2{
  text-align: center;
  text-decoration: underline;
}

.h3{
  text-align: left;
}

.h4{
  text-align: justify;
}

.titulo_main {
    padding-top: 20vh;
    padding-bottom: 10vh;
    font-size: 3em;
}

.filtro_container{
    width: 60vw;
    height: 8vh;
    background-color: white;
    padding: 1vh;
    margin:5vh auto;
    border-radius: 50px;
    border-color: var(--violeta-secundario);
    border: 2px;
    display: flex;
    align-items: center;
}
.form_filtro{
  padding-left: 2vw;
  width: 100%;
  display: flex;
}
/* seccion con cards */
.subtitulo{
  color: var(--violeta-primario);
  font-size: 2rem;
  font-weight: 700;
}
.section_conciertos{
  width: 100vw;
  height: 100%;
}
.contenedor_conciertos{
  display: flex;
}
.concierto_card{
  height: 360px;
  width: 100%;
  border-color: black;
  background-color: #B4A2E0;
}
/* footer */
.footer_container{
  height: 40vh;
  width: 100vw;
  background-color: var(--bg-oscuro);
}

/* inputs y btns */
.input{
  width: 100%;
  border: none;
  background-color: transparent;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48; /*size*/
  color: #4608ad;

}

.cont_cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 190px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}